 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <div class="title">
        <h5> MOBILE</h5>
     </div>
      <div class="button">
      	<a href="/video" class="btn">Watch Videos  <i class="fa fa-play-circle"></i></a>
        <a href="/table1s" class="btn">SEE YOUR STATISTICS <i class="fa fa-check-square"></i></a>
        <a href="/royalpasses" class="btn">ROYAL PASS S11 <i class="fa fa-thumbs-up"></i></a>
        <a href="https://www.midasbuy.com/in/buy/pubgm" class="btn">PURCHASE UC HERE! <i class="fa fa-sign-language"></i></a>
      </div>  

      <style type="text/css">
      	
       .title{
					position: absolute;
					top: 40%;
					left: 50%;
					transform: translate(-50%,-50%);
             }
         .button{
			    position: absolute;
			    top: 60%;
			    left: 50%;
			    transform: translate(-50%,-50%);
			   }  
			   .btn{
			    border: 1px solid #fff;
			    padding: 10px 30px;
			    color: #fff;
			    text-decoration: none;
			    transition: 1s ease;
			   }
				   .btn:hover{
				     background-color: #fff;
				    color: #000;
				   }
      </style>