<p id="notice"><%= notice %></p>

<h>GØT々दहशत</h>

<table>
  <thead>
    <tr>
      <h3>Name</h3>
      <h3></h3>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @table1s.each do |table1| %>
      <tr>
        <td><p1><%= table1.name %></p1></td>
        <td><%= link_to 'Show', table1,class: "btn btn-primary" %></td>
        <% if current_user.role == "admin" %>
        <td><%= link_to 'Edit', edit_table1_path(table1) %></td>          
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>
    

<br>
